* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
select,
button {
  font-family: 'Poppins', sans-serif;
}
body {
  font-size: 0.875rem;
  background: #e5e5e5;
}

body::before {
  content: '';
  width: 200%;
  height: 27.25rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /*colocando o z-index atrás do conteudo do body com o -1*/
  background: #535971;
}

header {
  width: 19.938rem;
  margin-top: 8.75rem;
}

header h1 {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  line-height: 3.75rem;
  color: white;
  font-size: 3rem;
  margin-bottom: 1.125rem;
}
header p {
  color: white;
}

form {
  width: 46.875rem;
  margin-top: 2.375rem;
  background-color: white;
  border-radius: 1.25rem 1.25rem 0rem 0rem;
  padding: 4rem;
}

fieldset {
  border: none;
}

fieldset legend {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.125rem;
  color: #535971;

  border-bottom: 0.063rem solid #e6e6f0;
  width: 100%;
  padding-bottom: 1rem;
}

.page {
  width: 46rem;
  margin: auto;
}

.submit {
  position: absolute;
  width: 46.875rem;
  height: 10rem;
  background-color: #535971;
  border-radius: 0rem 0rem 0.063rem 0.063rem;
  text-align: center;
}

.submit #button {
  background: #ff5374;
  width: 38rem;
  border-radius: 1.25rem;
  border: none;

  height: 3.5rem;
  margin-top: 3.313rem;

  color: white;
  font-size: 1.25rem;
  font-family: 'Staatliches', cursive;
  align-items: center;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.subtitle {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.125rem;
  color: #535971;
}
.span {
  margin-left: 0.75rem;
  line-height: 1.25rem;
  font-size: 0.75rem;
  color: #c1bccc;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  color: #4e4958;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.input-wrapper input {
  background: #fafafc;

  border: 0.063rem solid #e6e6f0;
  border-radius: 0.5rem;

  box-sizing: border-box;
  height: 3.5rem;
  padding: 1rem 1.5rem;

  color: #c1bccc;
  font-size: 1rem;
  line-height: 1.625rem;
}

.names,
.time {
  display: inline-flex;
  gap: 1.313rem;
}

.names .input-wrapper input,
#date {
  width: 18.75rem;
}

#hour {
  width: 8.75rem;
}
